body {
    background-color: burlywood;
    text-align: center;
    margin: 0;
}

div {
    display: block;
    margin: 20px;
}

#logo {
    width: 10%;
    display: block;
    position: relative;
    top: 2px;
    left: 600px;
}

footer {
    text-align: left;
    background-color: chocolate;
    font-family: sans-serif;
    width: 100%;
    font-size: 12px;
    margin-top: 20px;
    position: relative;
    display: block;
}

#pierwszy {
    background-color: coral;
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-bottom: 0%;
}

#drugi {
    background-color: darkkhaki;
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-top: 0%;
}

div {
    position: relative;
    margin-bottom: 10px;
}

td {
    border-collapse: collapse;
    border-style: solid;
}

th {
    border-collapse: collapse;
    border-style: solid;
}

table {
    text-align: left;
    font-weight: 100;
    border-style: solid;
    border-collapse: collapse;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-bottom: 40px;
}

#super {
    background-color: red;
    width: 200px;
    height: 15px;
    font-size: 13px;
    top: 30px;
    left: 20px;
    position: absolute;
}

#warszawa {
    text-align: left;
}

#edynburg {
    text-align: left;
}

.zdj {
    width: 35%;
}

.frame {
    position: absolute;
    left: 500px;
    width: 600px;
    height: 300px;
}

#sam {
    text-align: left;
}

#samolot {
    width: 20%;
    display: block;
}

#pasażerowie {
    text-align: left;
    margin-bottom: 100px;
}




